<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span></span>
    </div>
    <div class="panel-body">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <label>Empresa:</label>
          </div>
          <div class="col-md-6">
            <span>{{localizacao.org}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>IP:</label>
          </div>
          <div class="col-md-6">
            <span>{{localizacao.query}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Latitude:</label>
          </div>
          <div class="col-md-6">
            <span>{{localizacao.lat}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Longitude:</label>
          </div>
          <div class="col-md-6">
            <span>{{localizacao.lon}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>País:</label>
          </div>
          <div class="col-md-6">
            <span>{{localizacao.country}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
