
<div class="container">
  <fd-search-bar (localizacao)="exibirLocalizacao($event)"></fd-search-bar>
</div>
<div class="container">
  <fd-host-panel [localizacao]="localizacao"></fd-host-panel>
</div>

<div class="container">
  <fd-map-container [lat]="localizacao.lat" [lon]="localizacao.lon"></fd-map-container>
</div>

<div class="hidden">
  <h1>
    {{title}}
  </h1>

  <input
    type="text"
    [(ngModel)]="nomeCompleto"
    size="50">

  <button (click)="mostraAlerta(nomeCompleto)">
    CLICAR AQUI
  </button>
</div>
